html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #151313;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.logo__icon {
  width: 59px;
  height: 59px;
}

.socials__icon--vk {
  width: 13px;
  height: 8px;
}

.socials__icon--twitter {
  width: 15px;
  height: 10px;
}

.socials__icon--fb {
  width: 5px;
  height: 10px;
}

.section__title {
  margin: 0;

  font-size: 36px;
  line-height: 41px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-align: center;
}

.section__lead {
  margin: 0;

  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #a07b50;
}

.pets {
  background-color: #1f1c1d;
}

.breed-features {
  background-color: #1f1c1d;
}

.advantages__icon--free-care {
  width: 98px;
  height: 107px;
}

.advantages__icon--daily-consult {
  width: 107px;
  height: 95px;
}
.advantages__icon--personal-food {
  width: 70px;
  height: 108px;
}

.faq {
  background-color: #1f1c1d;
}

.reviews {
  background-color: #1f1c1d;
}
